---
# handlers file for journald

- name: Restart systemd-journald service
  become: yes
  ansible.builtin.systemd_service:
    name: systemd-journald.service
    state: restarted
    enabled: yes

- name: Restart systemd-journald-upload service
  become: yes
  ansible.builtin.systemd_service:
    name: "{{ journald_upload_service }}"
    state: restarted
    enabled: yes
